
<div class="container body-content">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center;" >Enter your email id/Username</h3>
  </div>
  <form>
  <div class="panel-body" align="center">
  
    <div class="row">
      <div class="col-md-4"></div>  
         <div class="col-md-4">
        <div class="form-group">
        <md-input-container style="width:320px;">
            <input mdInput type="text" [(ngModel)]="email_id"  placeholder="Email" name="email_id" required>
        </md-input-container>
     </div>
        
         </div>
         <div class="col-md-4"></div>
    </div>
           <div class="row">
               <div class="col-md-4"></div>  
                    <div class="col-md-4">
                        
                          <button type="button" class="btn btn-raised btn-primary" (click)="addUser()"  [routerLink]="['/login']"  style='margin-left:50px'>Submit</button>
                          <button type="button" class="btn btn-raised btn-primary" [routerLink]="['/login']" style='margin-left:80px'>Cancel</button>
        
                     </div>
                     <div class="col-md-4"></div>  
            </div>
            </div>
  </form>
</div>
</div>