<div class="container body-content">
  <div *ngIf="show" style="color:red;font-size: 30px;text-align: center">{{msg}}</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center;" >Enter new password</h3>
  </div>
  <form>
  <div class="panel-body" align="center">
    <div class="row">
      <div class="col-md-4"></div>  
         <div class="col-md-4">
           <div class="form-group">
        <md-input-container style="width:320px;">
            <input mdInput type="text" [(ngModel)]="password"  placeholder="Password" name="password" required>
        </md-input-container>
     </div>
         <div class="form-group">
           <md-input-container style="width:320px;">
           <input mdInput type="text" [(ngModel)]="cpassword"   placeholder="Confirm Password" name="cpassword" required>
         </md-input-container>
       </div>
        
         </div>
         <div class="col-md-4"></div>
    </div>
           <div class="row">
               <div class="col-md-4"></div>  
                    <div class="col-md-4">
                          <button type="button" class="btn btn-raised btn-primary" (click)="newPassword()"  style='margin-left:50px'>Submit</button>
                          <!--<button type="button" class="btn btn-raised btn-primary" (click)="newPassword()"  [routerLink]="['/login']"  style='margin-left:50px'>Submit</button>-->
                          <button type="button" class="btn btn-raised btn-primary" [routerLink]="['/login']" style='margin-left:80px'>Cancel</button>
                          
        
                     </div>
                     <div class="col-md-4"></div>  
            </div>
            </div>
  </form>
</div>
</div>